 <div class="quotes">

	 <div class="quotee">
	    Mr Ipsum
	  </div>
	  <div class="quote-text">
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae massa gravida, fermentum sem a, ullamcorper magna. Fusce ac pellentesque elit, a tristique dui. Nam quis sodales mi. Donec in bibendum eros. Etiam elit dolor, tincidunt at elementum nec, viverra sit amet turpis. Praesent congue leo sed ante dignissim convallis. Sed mollis mattis ex, sit amet tincidunt diam euismod nec.

	    Nulla molestie nibh vitae sollicitudin pellentesque. Mauris sapien lacus, tristique nec nulla eget, tempus posuere massa. Donec dictum justo nisi, non lobortis leo feugiat nec. Donec euismod dignissim nulla. Maecenas eu venenatis quam, in pellentesque mauris. Vivamus laoreet, justo quis semper cursus, leo arcu tempor libero, eget maximus ante arcu quis diam. Praesent pellentesque nec metus sed feugiat. Mauris venenatis dui quis pulvinar tempor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis scelerisque est, vel blandit risus. Phasellus elementum nec orci ut vehicula.
	  </div>
	  </div>