
.navbar {
  /*background-color: #731987;*/
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #badeba;
  font-family: 'Oswald', sans-serif;
}

.navbar .icon {
  content: url(http://svgur.com/i/36d.svg);
  width: 50px;
}

.navbar a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-left: 30px;
}